In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
data_players<-read_csv("data/players.csv")
head(data_players)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

### Data Explanation
#### From the read dataset, we can see that there are 7 main variables. However, only four are suitable for prediction.
- Experience: Describing a player's proficiency in a game is divided into five levels.
- Age: The player's age
- Time of playing: Time spent playing the game.
- Gender: The player's gender.

In [5]:
players_hr <- select(data_players, played_hours, Age)
players_hr |> summarize(max_hr = max(played_hours), mean_hr = mean(played_hours, na.rm=TRUE))
players_hr

  max_hr mean_hr
1 223.1  5.845918

    played_hours Age
1   30.3          9
2    3.8         17
3    0.0         17
4    0.7         21
5    0.1         21
6    0.0         17
7    0.0         19
8    0.0         21
9    0.1         17
10   0.0         22
11   1.6         23
12   0.0         17
13   1.5         25
14   0.2         22
15   0.0         17
16   0.0         22
17   0.0         17
18  48.4         17
19   0.5         17
20   0.6         19
21   0.3          8
22   0.1         17
23   1.0         17
24   0.0         17
25   0.7         21
26   0.6         28
27   0.0         17
28   0.0         23
29   1.8         23
30   0.1         18
⋮   ⋮            ⋮
167  1.0         26
168  0.3         17
169  0.1         17
170  0.1         17
171  0.4         21
172  1.8         32
173  0.0         20
174  0.0         50
175  0.0         17
176  0.3         17
177  0.0         17
178  2.7         21
179  0.4         17
180  0.1         17
181  2.1         24
182  0.8         22
183  0.2         17
184 32.0         22
185  1.7         17
186  0.1         18
187  0.1         44
188  0.0         17
189  0.0         17
190  0.0         17
191  0.0         20
192  0.0         17
193  0.3         22
194  0.0         17
195  2.3         17
196  0.2         NA

## I choose the Question 1